.footer
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgy34ZtQd2myDfNRoU7j3r9HHXmnQ8MxBaiw&usqp=CAU");
    background-repeat:no-repeat;
    background-size:cover;
}
i
{
    color:rgb(3, 20, 56);
}
