<div class="footer">
    <div class="text-white text-center">
    <h3>Your Safety is our Priority!</h3>
    <p>Steps we are taking to keep you safe</p>
</div>
<div class="container">
    <div class="d-flex">
<h1><i class="fas fa-pump-medical"></i></h1>
<h5 class="text-white ms-5">Sanitization</h5>
</div>
<br>
    <div class="d-flex">
<h1><i class="fas fa-handshake-alt-slash"></i></h1>
<h5 class="text-white ms-4">Contact less delivery</h5>
</div>
<br>
<div class="d-flex">
    <h1><i class="fas fa-temperature-low"></i></h1>
    <h5 class="text-white ms-4">Temperature Checks</h5>
    </div>
    <br>
<div class="d-flex">
    <h1><i class="fas fa-head-side-mask"></i></h1>
    <h5 class="text-white ms-4">Compulsary Mask and Gloves</h5>
    </div>
</div>
