.card
{
    border:none;
   
}
#p1
{
    font-size: 13px;
    color:gray;
    font-style: italic;
}
.card:hover
{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    box-shadow: 2px 2px 4px black;

}
button
{
    font-weight: 600;
}