<p>Mother's Day | Cakes | Flowers | Birthday | Plants | Anniversary | Gifts | Combos</p>
<ul class="nav nav-pills justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="personalisedgifts" routerLinkActive="active"><img src="https://img.floweraura.com/sites/default/files/personalised%20gifts.png?tr=h-164,w-164" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cakes" routerLinkActive="active"><img src="https://img.floweraura.com/sites/default/files/cakes_1.png?tr=w-164,q-70" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="flowers" routerLinkActive="active"><img src="https://img.floweraura.com/sites/default/files/flower_5.png?tr=w-164,q-70" alt=""></a>
    </li>
  </ul>
  <div class="container">
    <router-outlet></router-outlet>
</div>
  