<div class="container">
    <h1>Aura-An Online Giftcenter</h1>
    <p><a href="#">www.Aura.com</a> is an online gift store that delivers gifts all over India. We at Aura deliver the best quality gifts in more than 229+ cities across India with the help of our strong affiliate network and channel stores. Each and every one of our gift is handmade at the right stage of bloom by our experts in your cities.

        Our online gift delivery platform comprises of a team with strong technological and operations experience which enables us to deliver gifts at the cheapest prices available in India.we also strive to make that special occasion for you and your loved ones even more special by delivering surprise gifts like cakes, chocolates, teddy bears and sweets.
        
        Aura is always there where ‘Words are not Enough..’. We at Aura know how important it is to express your feelings with the same amount of zeal that your presence would have brought to the occasion. Bringing a smile on your face and being your messenger with perfection is our motto. We define our success by our satisfied customers.</p>
</div>
