<div class="form-horizontal d-block w-25 mx-auto">
<label for="fn" class="form-label">Username</label>
<input type="text" name="firstname" id="fn" class="form-control">
<label for="em" class="form-label">Email</label>
<input type="email" name="email" id="em" class="form-control">
<label for="ln" class="form-label">Password</label>
<input type="password" name="lastname" id="fn" class="form-control">
<label for="cf" class="form-label">confirm Password</label>
<input type="password" name="confirmPassword" id="cf" class="form-control">
<button class="btn btn-success d-block mx-auto mt-2">SignUp</button>
</div>

